/* Created by: Venika Sem
* Created on: Mar 2022
* This file contains the CSS for index.html
*/

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

p {
  color: #05f;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}

h3 {
  color: #6e156f;
  font: 15pt "Times New Roman", Times, serif;
  font-weight: bold;
  line-height: 16pt;
}
